@import url(./font/Torus/stylesheet.css);
@import url(https://cdn.jsdelivr.net/gh/redpervn/fa/css/all.min.css);
@import url(https://fonts.googleapis.com/css?family=Google+Sans:300,400,500,700&display=swap);

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    background-color: transparent;
}


::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, .7);
    border-radius: 10px;
    background-clip: content-box;
    border: 5px solid transparent;
    transition: .2s;
}

::-webkit-scrollbar-thumb:hover {
    background-clip: content-box;
    border: 3px solid transparent
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(128, 128, 128, .4);
    background-clip: content-box
}


* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, b {
    font-family: 'Torus Notched Semi', 'Google Sans', sans-serif;
}

a {
    color: #eee;
    text-decoration: none;
}

body {
    font-family: 'Torus Notched';
    color: #eee;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow: overlay;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}

.Container {
    width: calc(1000px - 4rem);
    background: rgba(2, 2, 2, 0.4);
    padding: 1rem;
    margin: 0 1rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .Container {
        width: calc(100% - 4rem);
    }
}

.fadeIn {
    animation: 0.4s fadeIn forwards;
}

.fadeOut {
    animation: 0.4s fadeOut forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-20px, 0);
        filter: blur(3px);
    }

    to {
        opacity: 1;
        transform: translate(0px, 0px);
        filter: blur(0px);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(0px, 0px);
        filter: blur(0px);
    }

    to {
        transform: translate(20px, 0);
        opacity: 0;
        filter: blur(3px);
    }
}